body {
    background-color: gray;
}

.opacidade {
    background-color: black;
    opacity: 0.3;
    padding-bottom: 900px;
    margin-right: 1573px;
    padding-top: 100px;

}

#paragrafo {
    color: white;
    padding: 15px;
    padding-top: 1px;
}

#pato {
    position: bottom;
}