body {
    background-color: gray;
}

#img_background {
    background-image: url(../../HTML/img/duck.jpeg);
    padding: 50px;
}

#nao_centralizado,
#centralizado {
    height: 400px;
    width: 400px;
    background-image: url(../../HTML/img/duck.jpeg);
}

#centralizado {
    background-position: center;
    background-size: cover;
}
