.alinhamento {
    text-align: center;
    width: 300px;
    border: 5px solid black;

}

#underline {
    text-decoration: underline;
}

#line-trough {
    text-decoration: line-through;
}

#remove-underline {
    text-decoration: none;
}

.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

#espacamento {
    letter-spacing: 5px;
    text-decoration: underline;
}

#serif {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#sans-serif {
    font-family: Helvetica, sans-serif;
}

#monospace {
    font-family: 'Courier New', Courier, monospace;
}

#cursive {
    font-family: cursive;
}

#fantasy {
    font-family: fantasy;
}

#italico {
    font-style: italic;
}

#obliquo {
    font-style: oblique;
}

#thin, #bold, #bolder {
    font-family: helvetica;
}

#thin {
    font-weight: 100;
}

#bold {
    font-weight: 600;
}

#bolder {
    font-weight: 900;
}

#small {
    font-size: 6px;
}

#big {
    font-size: 78px
}